<div class="container invoice-page">
    <div class="invoice-header">
        <div class="pull-left">
            <a href="#" class="btn btn-default"><i class="icon-edit"></i> Редактировать</a>
            <a href="#" class="btn btn-default"><i class="icon-copy"></i> Копировать</a>
            <a href="<%= dashboard_path  %>" class="btn btn-red"><i class="icon-remove-sign"></i> Отменить</a>
            <a href="#" class="btn btn-gold"><i class="icon-bell-alt"></i> Напомнить</a>
            <a href="#" class="btn btn-lightblue"><i class="icon-share-alt"></i> Выставить</a>
            <a href="#" class="btn btn-green"><i class="icon-money"></i> Оплатить</a>
        </div>
        <div class="pull-right">
            <a href="#" class="btn btn-blue">Загрузить PDF</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="document">
        <div class="row">
            <div class="span4 pull-left valign-middle">
                <h2 class="inline-block valign-middle">Get Lucky</h2>
                <span class="inline-block valign-middle label label-gray" style="margin-left: 10px;">черновик</span>
                <span class="inline-block valign-middle label label-green" style="margin-left: 10px;">оплачен</span>
                <span class="inline-block valign-middle label label-red" style="margin-left: 10px;">просрочен</span>
                <span class="inline-block valign-middle label label-blue" style="margin-left: 10px;">к оплате</span>
                <span class="inline-block valign-middle label label-black" style="margin-left: 10px;">отменен</span>
            </div>
            <div class="pull-right valign-middle">
                <h4>Инвойс #000001</h4>
                <div>
                    <strong>Дата выставления</strong>: 15/05/2013
                </div>
                <div>
                    <strong>Дата оплаты</strong>: 15/05/2013
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <hr>

        <div class="row">
            <div class="span3 inline-block">
                <h4>Кому: </h4>
                <h5><em>Human After All</em></h5>

                <address>
                    Eugene Rodionov <br>
                    Invoice street <br>
                    Invoice city CA 923232<br>
                    Russian Federation
                </address>
            </div>
            <div class="span3 inline-block">
                <h4>От кого: </h4>
                <h5><em>Something about us</em></h5>

                <address>
                    Invoice address
                </address>
            </div>
        </div>

        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th width="45px">Кол-во</th>
                    <th>Всего</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Work it, make it better, do it faster, makes us stronger, more than ever hour after our work is never over. Work it harder, make it, do it faster, makes us, more than ever hour after our work is never over.</td>
                    <td>100.00</td>
                    <td>4</td>
                    <td>400.00</td>
                </tr>
                <tr>
                    <td>There's not much I know about you, Fear will always make you blind, But the answer is in clear view, It's amazing what you'll find face to face.</td>
                    <td>100.00</td>
                    <td>4</td>
                    <td>400.00</td>
                </tr>

                <tr class="summary">
                    <td colspan="2" class="text-right">
                        Всего
                    </td>
                    <td colspan="2" class="text-right">
                        4
                    </td>
                </tr>
                <tr class="summary no-border error">
                    <td colspan="2" class="text-right">
                        Пенни (5 дней по 10%)
                    </td>
                    <td colspan="2" class="text-right">
                        250.00
                    </td>
                </tr>
                <tr class="summary no-border">
                    <td colspan="2" class="text-right">
                        Всего
                    </td>
                    <td colspan="2" class="text-right">
                        650.00
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="document-footer text-center">
            <h5><em>billpal (billpal.ru)</em></h5>
        </div>
    </div>
</div>
