<link href="https://paysio.com/static/v1/paysio.css" type="text/css" rel="styleSheet" />
<script src="https://paysio.com/static/v1/paysio.js"></script>

<div class="span6 offset3"
     ng-app="transfers"
     ng-controller="WithdrawalsController"
 >

  <div class="padded">

    <div class="login box" style="margin-top: 80px;">

      <div class="box-header">
        <span class="title">Осуществление вывода</span>
      </div>

      <div class="box-content padded">
        <form class="separate-sections" ng-submit="withdraw()">
          <div>
            Введите сумму платежа
          </div>

          <div class="input-prepend">
            <span class="add-on">
            </span>
            <input type="text" placeholder="0.00" ng-model="data.withdrawal_amount" required>
          </div>

          <center title="Оплатить" style="cursor: pointer">
            <img src="/assets/payments/mastercard.png" style="opacity: .3"><!-- ng- click="data.withdrawal_to = 'mastercard'" -->
            <img src="/assets/payments/qiwi.png" style="opacity: .3"><!-- ng- click="data.withdrawal_to = 'qiwi'" -->
            <img src="/assets/payments/sms.png" ng-click="data.withdrawal_to = 'phone'">
            <img src="/assets/payments/visa.png" style="opacity: .3"><!-- ng- click="data.withdrawal_to = 'visa'" -->
            <img src="/assets/payments/webmoney.png" style="opacity: .3"><!-- ng-click="data.withdrawal_to = 'webmoney'" -->
            <img src="/assets/payments/yandex-money.png" style="opacity: .3"><!-- ng- click="data.withdrawal_to = 'yandex-money'" -->
          </center>

          <p></p>

          <div ng-switch="data.withdrawal_to">
            <div class="input-prepend" ng-switch-when="visa">
              <span class="add-on"><i class="icon-th"></i></span>
              <input type="text" placeholder="номер карты visa" ng-model="data.param">
            </div>

            <div class="input-prepend" ng-switch-when="mastercard">
              <span class="add-on"><i class="icon-th"></i></span>
              <input type="text" placeholder="номер карты mastercard" ng-model="data.param">
            </div>

            <div class="input-prepend" ng-switch-when="phone">
              <span class="add-on"><i class="icon-th"></i></span>
              <input type="text" placeholder="номер мобильного телефона" ng-model="data.param">
            </div>

            <div class="input-prepend" ng-switch-when="qiwi">
              <span class="add-on"><i class="icon-th"></i></span>
              <input type="text" placeholder="номер кошелька qiwi" ng-model="data.param">
            </div>

            <div class="input-prepend" ng-switch-when="webmoney">
              <span class="add-on"><i class="icon-th"></i></span>
              <input type="text" placeholder="номер кошелька webmoney" ng-model="data.param">
            </div>

            <div class="input-prepend" ng-switch-when="yandex-money">
              <span class="add-on"><i class="icon-th"></i></span>
              <input type="text" placeholder="номер кошелька яндекс.денег" ng-model="data.param">
            </div>
          </div>
          <div class="error" ng-show="notWithdrawn" ng-bind="notWithdrawn"></div>
            <div ng-show="data.withdrawal_to">
              <button class="btn btn-block btn-blue">
                Подтвердить <i class="icon-ok"></i>
              </button>
            </div>
        </form>

        <!-- div ng-switch-when="paysioRequest"><h5>Загрузка</h5></div -->


      </div>

    </div>

  </div>
</div>