<div class="container-fluid padded">
  <div class="action-nav-normal">

    <div class="row-fluid">
      <div class="span2 action-nav-button">
        <a ng-click="createBill()" title="New Invoice">
          <i class="icon-file-alt"></i>
          <span>Новый инвойс</span>
        </a>
        <span class="triangle-button red"><i class="icon-plus"></i></span>
      </div>

      <div class="span2 action-nav-button disabled">
        <a ng-href="/dashboard/bills_drafts" title="Messages">
          <i class="icon-comments-alt"></i>
          <span>Черновики</span>
        </a>
        <span class="label label-black">14</span>
      </div>

      <div class="span2 action-nav-button">
        <a ng-href="/dashboard/bills_sent" title="Files">
          <i class="icon-folder-open-alt"></i>
          <span>Выставленные</span>
        </a>
        <span class="label label-black">14</span>
      </div>

      <div class="span2 action-nav-button">
        <a ng-href="/dashboard/bills_paid" title="Users">
          <i class="icon-user"></i>
          <span>Оплаченные</span>
        </a>
      </div>

      <div class="span2 action-nav-button">
        <a ng-href="/dashboard/bills_canceled" title="Friends">
          <i class="icon-facebook-sign"></i>
          <span>Отмененные</span>
        </a>
      </div>
    </div>

  </div>
  <hr class="divider">