	<div class="main-content">
		<div class="container-fluid">
			<h4>Баланс: <%= current_user.balance.amount %> рублей</h4>

			<a href="#" class="btn btn-large btn-green"><i class="icon-plus-sign"></i> Добавить кошелек</a>
			<a href="#" class="btn btn-large btn-blue"><i class="icon-share-alt"></i> Вывод денег</a>

			<h4>Кошельки</h4>
            
			<form action="POST" class="form-horizontal">
				<div class="control-group">
					<label class="control-label"><img src="/assets/payments/mastercard.png"></label>
					<div class="controls">
						<input type="text" class="input-medium">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"><img src="/assets/payments/visa.png"></label>
					<div class="controls">
						<input type="text" class="input-medium">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"><img src="/assets/payments/qiwi.png"></label>
					<div class="controls">
						<input type="text" class="input-medium">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"><img src="/assets/payments/sms.png"></label>
					<div class="controls">
						<input type="text" class="input-medium">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"><img src="/assets/payments/webmoney.png"></label>
					<div class="controls">
						<input type="text" class="input-medium">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"><img src="/assets/payments/yandex-money.png"></label>
					<div class="controls">
						<input type="text" class="input-medium">
					</div>
				</div>
				<div class="form-actions">
	            <button type="submit" class="btn btn-blue">Save changes</button>
	          </div>

			</form>
		</div>
	</div>
