  <div class="container-fluid">
    <div class="row-fluid">

      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title">
            <i class="icon-double-angle-left icon-2x"></i>
            Черновики инвойсов
          </h3>
        </div>

        <ul class="inline pull-right sparkline-box">
          <li class="sparkline-row">
            <h4 class="blue"><span>Итого</span> 847 руб.</h4>
          </li>
        </ul>


      </div>
    </div>
  </div>


<div class="container-fluid padded">
  <div class="action-nav-normal">

    <div class="row-fluid">
      <div class="span2 action-nav-button">
        <a ng-click="createBill()" title="New Invoice">
          <i class="icon-file-alt"></i>
          <span>Новый инвойс</span>
        </a>
        <span class="triangle-button red"><i class="icon-plus"></i></span>
      </div>

      <div class="span2 action-nav-button disabled">
        <a href="#" title="Messages">
          <i class="icon-comments-alt"></i>
          <span>Черновики</span>
        </a>
        <span class="label label-black">14</span>
      </div>

      <div class="span2 action-nav-button">
        <a href="#" title="Files">
          <i class="icon-folder-open-alt"></i>
          <span>Выставленные</span>
        </a>
        <span class="label label-black">14</span>
      </div>

      <div class="span2 action-nav-button">
        <a href="#" title="Users">
          <i class="icon-user"></i>
          <span>Оплаченные</span>
        </a>
      </div>

      <div class="span2 action-nav-button">
        <a href="#" title="Friends">
          <i class="icon-facebook-sign"></i>
          <span>Отмененные</span>
        </a>
      </div>
    </div>

  </div>
  <hr class="divider">



  <div class="row-fluid">

    <!-- созданные, но не выставленные инвойсы -->
    <div class="span12">
      <div class="box">
        <div class="box-header"><span class="title">Черновики инвойсов</span></div>
        <div class="box-content">
          <!-- find me in partials/data_tables_custom -->

          <div id="dataTables">
            <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive dataTable">
              <thead>
              <tr>
                <th><div>ID</div></th>
                <th><div>Название</div></th>
                <th><div>Дата создания</div></th>
                <!-- th><div>Оплата по плану</div></th -->
                <th><div>Контакт</div></th>
                <th><div>Общая сумма</div></th>
                <th><div></div></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="bill in bills">
                <td ng-bind="bill.id"></td>
                <td contenteditable ng-model="bill.title"></td>
                <td ng-bind="bill.created_at | date"></td>
                <!-- td>date</td -->
                <td ng-bind="bill.to_user_name"></td>
                <td contenteditable ng-model="bill.amount"></td>
                <td style="text-align:center;">
                  <div class="btn-group" ng-class="{ open: dropdownOpen }">
                    <button class="btn btn-mini btn-default" ng-click="dropdownOpen = !dropdownOpen"><i class="icon-cog"></i></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Выставить</a></li>
                      <li><a href="#">Просмотреть</a></li>
                      <li><a ng-click="createBill(bill)">Копировать</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Отменить</a></li>
                    </ul>
                  </div></td>
              </tr>
              </tbody>
            </table>
            <div class="table-footer">
              <div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate">
                <a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">Первая</a>
                <a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">Предыдущая</a>
                <span>
                  <a tabindex="0" class="paginate_active">1</a></span>
                  <a tabindex="0" class="next paginate_button paginate_button_disabled" id="DataTables_Table_0_next">Следующая</a>
                  <a tabindex="0" class="last paginate_button paginate_button_disabled" id="DataTables_Table_0_last">Последняя</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
