		<div class="container-fluid">
			<div class="row-fluid">

				<div class="area-top clearfix">
					<div class="pull-left header">
						<h3 class="title">
							<i class="icon-envelope item-x2"></i>
							Выставленные инвойсы
						</h3>
						<h5>
							Эти инвойсы отправлены и ждут оплаты 
						</h5>
					</div>
					<ul class="inline pull-right sparkline-box">

						<li class="sparkline-row">
							<h4 class="blue"><span>Вы ожидаете</span> 847 руб.</h4>
							
						</li>

						<li class="sparkline-row">
							<h4 class="red"><span>От вас ждут</span> 223 руб.</h4>
						</li>

					</ul>
				</div>
			</div>
		</div>


		<%= render "bills_menu" %>
		


		<div class="row-fluid">

			<!-- созданные, но не выставленные инвойсы -->
			<div class="span12">
				<div class="box">
					<div class="box-header"><span class="title">Выставленные вами инвойсы</span><ul class="box-toolbar">
						<li>Все</li><li>
						<div class="ibutton-container ibutton-active-handle" style="width: 69px;"><input class="iButton-icons" type="checkbox" checked="checked"><div class="ibutton-handle" style="width: 30px; left: 0px;"><div class="ibutton-handle-right"><div class="ibutton-handle-middle"></div></div></div><div class="ibutton-label-off" style="width: 64px;"><span style="margin-right: 0px;"><label><i class="icon-remove"></i></label></span></div><div class="ibutton-label-on" style="width: 4px;"><span style="margin-left: -34px;"><label><i class="icon-ok"></i></label></span></div><div class="ibutton-padding-left"></div><div class="ibutton-padding-right"></div></div>
					</li><li>Просроченные</li>
				</ul></div>
				<div class="box-content">
					<table cellpadding="0" cellspacing="0" border="0" class="table">
						<thead>
							<tr>
								<th><div>ID</div></th>
								<th><div>Название</div></th>
								<th><div>Дата создания</div></th>
								<th><div>Оплата по плану</div></th>
								<th><div>Контакт</div></th>
								<th><div>Общая сумма</div></th>
								<th><div></div></th>
							</tr>
						</thead>
						<tbody>
                            <tr ng-repeat="bill in bills | filter:{state:'exposed',direction:'out'}">
								<td ng-bind="bill.id"></td>
								<td ng-bind="bill.title"></td>
								<td ng-bind="bill.created_at | date"></td>
								<td ng-bind="bill.pay_until | date"></td>
                              <td ng-bind="bill.to_user.full_name + ' ' + bill.to_user.last_name"></td>
								<td ng-bind="bill.amount_cents / 100 | currency"></td>
								<td style="text-align:center;">
									<div class="btn-group">
										<button class="btn btn-mini btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
										<ul class="dropdown-menu">
											<li><a href="#">Просмотреть</a></li>
											<li><a href="#">Копировать</a></li>
											<li class="divider"></li>
											<li><a href="#">Напомнить</a></li>
										</ul>
									</div></td>
								</tr>
										</tbody>
									</table>
									<div class="table-footer"><div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate"><a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">Первая</a><a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">Предыдущая</a><span><a tabindex="0" class="paginate_active">1</a></span><a tabindex="0" class="next paginate_button paginate_button_disabled" id="DataTables_Table_0_next">Следующая</a><a tabindex="0" class="last paginate_button paginate_button_disabled" id="DataTables_Table_0_last">Последняя</a></div></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row-fluid">

						<!-- выставленные нам инвойсф -->
						<div class="span12">
				<div class="box">
					<div class="box-header"><span class="title">Выставленные вам инвойсы</span><ul class="box-toolbar">
						<li>Все</li><li>
						<div class="ibutton-container ibutton-active-handle" style="width: 69px;"><input class="iButton-icons" type="checkbox" checked="checked"><div class="ibutton-handle" style="width: 30px; left: 0px;"><div class="ibutton-handle-right"><div class="ibutton-handle-middle"></div></div></div><div class="ibutton-label-off" style="width: 64px;"><span style="margin-right: 0px;"><label><i class="icon-remove"></i></label></span></div><div class="ibutton-label-on" style="width: 4px;"><span style="margin-left: -34px;"><label><i class="icon-ok"></i></label></span></div><div class="ibutton-padding-left"></div><div class="ibutton-padding-right"></div></div>
					</li><li>Просроченные</li>
				</ul></div>
				<div class="box-content">
					<table cellpadding="0" cellspacing="0" border="0" class="table">
						<thead>
							<tr>
								<th><div>ID</div></th>
								<th><div>Название</div></th>
								<th><div>Дата создания</div></th>
								<th><div>Оплата по плану</div></th>
								<th><div>Контакт</div></th>
								<th><div>Общая сумма</div></th>
								<th><div></div></th>
							</tr>
						</thead>
						<tbody>
                            <tr ng-repeat="bill in bills | filter:{state:'exposed',direction:'in'}">
								<td ng-bind="bill.id"></td>
								<td ng-bind="bill.title"></td>
								<td ng-bind="bill.created_at | date"></td>
								<td ng-bind="bill.pay_until | date"></td>
                              <td ng-bind="bill.to_user.full_name + ' ' + bill.to_user.last_name"></td>
								<td ng-bind="bill.amount_cents / 100 | currency"></td>
								<td style="text-align:center;">
									<div class="btn-group">
										<button class="btn btn-mini btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
										<ul class="dropdown-menu">
											<li><a href="#">Просмотреть</a></li>
											<li><a href="#">Копировать</a></li>
											<li class="divider"></li>
											<li><a href="#">Напомнить</a></li>
										</ul>
									</div></td>
								</tr>
										</tbody>
									</table>
									<div class="table-footer"><div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate"><a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">Первая</a><a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">Предыдущая</a><span><a tabindex="0" class="paginate_active">1</a></span><a tabindex="0" class="next paginate_button paginate_button_disabled" id="DataTables_Table_0_next">Следующая</a><a tabindex="0" class="last paginate_button paginate_button_disabled" id="DataTables_Table_0_last">Последняя</a></div></div>
								</div>
							</div>
						</div>
						</div>