  <div class="main-content">
    <!-- Заголовок -->
    <div class="container-fluid">
      <div class="row-fluid">

        <div class="area-top clearfix">
          <div class="pull-left header">
            <h3 class="title">
              <i class="icon-edit"></i>
              Редактирование контакта
            </h3>
            <h5>
              Отредактируйте контакт, чтобы всегда иметь возможность оформить на него инвойс
            </h5>
          </div>


        </div>
      </div>
    </div>

    <div class="container-fluid padded">
      <div class="row-fluid">
        <div class="span3"></div>
        <div class="span6">

          <div class="box">
            <div class="box-header">
              <span class="title">Контакт</span>
            </div>

            <div class="box-content">

              <form class="fill-up">

                <div class="row-fluid">
                  <div class="span6">

                    <ul class="padded separate-sections">

                      <li class="input">
                        <input type="text" placeholder="Имя"/>
                      </li>

                      <li class="input">
                        <input type="text" placeholder="Фамилия"/>
                      </li>

                      <li class="input">
                        <input type="text" placeholder="Email"/>
                      </li>

                      <li class="input">
                        <input type="text" placeholder="Номер телефона"/>
                      </li>

                      <li class="input">
                        <input type="text" placeholder="Компания"/>
                      </li>

                      <li class="input">
                        <input type="text" placeholder="Количество"/>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-blue">Сохранить изменения</button>
                  <button type="button" class="btn btn-default">Отмена</button>
                  <div class="pull-right">
                   <button type="button" class="btn btn-red">Удалить</button>
                 </div>
               </div>
             </form>
           </ul>
         </div>
       </div>
     </form>
   </div>
 <div class="span3"></div>
 </div>
