	<div class="container invoice-page">
		<div class="invoice-header">
			<div class="pull-left">
			<!--	<a href="#" class="btn btn-default"><i class="icon-edit"></i> Редактировать</a>
				<a href="#" class="btn btn-default"><i class="icon-copy"></i> Копировать</a>
				<a href="#" class="btn btn-red"><i class="icon-remove-sign"></i> Отменить</a> -->
				<!-- a href="#" class="btn btn-gold"><i class="icon-bell-alt"></i> Напомнить</a -->
				<a ng-click="bill.$expose()" class="btn btn-lightblue" ng-show="bill.state == 'pending'"><i class="icon-share-alt"></i> Выставить</a>
				<a ng-click="payBill(bill)" class="btn btn-green" ng-show="bill.state == 'exposed'"><i class="icon-money"></i> Оплатить</a>
			</div>
			<div class="pull-right">
				<a href="#" class="btn btn-blue">Загрузить PDF</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="document">
			<div class="row">
				<div class="span4 pull-left valign-middle">
					<h2 class="inline-block valign-middle" ng-bind="bill.title"></h2>
                  <span ng-switch="bill.state">
                        <span ng-switch-when="pending" class="inline-block valign-middle label label-gray" style="margin-left: 10px;">черновик</span>
                        <span ng-switch-when="paid" class="inline-block valign-middle label label-green" style="margin-left: 10px;">оплачен</span>
                        <!-- <span class="inline-block valign-middle label label-red" style="margin-left: 10px;">просрочен</span> -->
                        <span ng-switch-when="exposed" class="inline-block valign-middle label label-blue" style="margin-left: 10px;">к оплате</span>
                        <span ng-switch-when="canceled" class="inline-block valign-middle label label-black" style="margin-left: 10px;">отменен</span>
                      </span>
				</div>
				<div class="pull-right valign-middle">
					<h4>Инвойс #{{bill.id}}</h4>
					<div>
						<strong>Дата выставления</strong>: {{ bill.created_at | date }}
					</div>
					<div>
						<strong>Срок оплаты</strong>: {{ bill.pay_until | date }}
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<hr>

			<div class="row">
				<div class="span3 inline-block">
					<h4>Кому: </h4>
					<h5><em>{{ bill.to_user.first_name }} {{ bill.to_user.last_name }}</em></h5>

					<address>{{bill.to_user.phone}}
					</address>
				</div>
				<div class="span3 inline-block">
					<h4>От кого: </h4>
                  <h5><em>{{ bill.from_user.first_name }} {{ bill.from_user.last_name }}</em></h5>

                  <address>{{bill.from_user.phone}}
                  </address>
				</div>
			</div>

			<hr>

			<table class="table">
				<thead>
					<tr>
						<th>Описание</th>
						<th>Цена</th>
						<th width="45px">Кол-во</th>
						<th>Всего</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in bill.items">
						<td ng-bind="item.title"></td>
						<td ng-bind="item.unit_price / 100 | currency"></td>
						<td ng-bind="item.count"></td>
						<td ng-bind="item.unit_price * item.count / 100 | currency"></td>
					</tr>

					<tr class="summary">
						<td colspan="2" class="text-right">
							Всего
						</td>
						<td colspan="2" class="text-right" ng-bind="bill.items.length">
						</td>
					</tr>
					<!-- tr class="summary no-border error">
						<td colspan="2" class="text-right">
							Пенни (5 дней по 10%)
						</td>
						<td colspan="2" class="text-right">
							250.00
						</td>
					</tr -->
					<tr class="summary no-border">
						<td colspan="2" class="text-right">
                          Итого к оплате
						</td>
						<td colspan="2" class="text-right" ng-bind="bill.amount_cents / 100 | currency">
						</td>
					</tr>
				</tbody>
			</table>

			<div class="document-footer text-center">
				<h5><em>billpal (billpal.ru)</em></h5>
			</div>
		</div>
	</div>