<link href="https://paysio.com/static/v1/paysio.css" type="text/css" rel="styleSheet" />
<script src="https://paysio.com/static/v1/paysio.js"></script>

<div class="span6 offset3"
     ng-app="transfers"
     ng-controller="TransfersController"
     ng-init="setPaysioKey(<%= Settings.paysio.key.to_json %>); <%= %<setStep('checkReceiverContacts')> if user_signed_in? %>"
>

  <div class="padded">

    <div class="login box" style="margin-top: 80px;">

      <div class="box-header">
        <span class="title">Осуществление платежа</span>
      </div>

      <div class="box-content padded" ng-switch="step">
         <form class="separate-sections" ng-submit="verificatePhone()" ng-switch-when="verificatePhone">

          <div class="input-prepend">
          <span class="add-on">
            <i class="icon-phone"></i>
          </span>
            <input type="text" placeholder="номер телефона" ng-model="data.phone_number" required>
          </div>

          <div class="error" ng-show="verificationCodeNotSent" ng-bind="verificationCodeNotSent"></div>

          <div>
            <button class="btn btn-block btn-blue">
              Подтвердить <i class="icon-ok"></i>
            </button>
          </div>
        </form>
       <form class="separate-sections" ng-submit="verificateCode()" ng-switch-when="verificateCode">

          <div class="input-prepend">
          <span class="add-on">
            <i class="icon-th"></i>
          </span>
            <input type="text" placeholder="код подтверждения" ng-model="data.verification_code" required>
          </div>

          <div class="error" ng-show="phoneNotVerified" ng-bind="phoneNotVerified"></div>

          <div>
            <button class="btn btn-block btn-blue">
              Подтвердить <i class="icon-ok"></i>
            </button>
          </div>
        </form>
        <form class="separate-sections" ng-submit="checkReceiverContacts()" ng-switch-when="checkReceiverContacts">
          <div>
            Введите сумму платежа
          </div>

          <div class="input-prepend">
            <span class="add-on">
            </span>
            <input type="text" placeholder="0.00" ng-model="data.charge_amount" required>
          </div>

          <div>
            Введите контактные данные получателя платежа
          </div>

          <div>
            <label>
              <input type="radio" ng-model="data.contact_type" value="email">
              E-mail
            </label>
            <label>
              <input type="radio" ng-model="data.contact_type" value="phone">
              Телефон
            </label>
          </div>

          <div ng-switch="data.contact_type">
              <div class="input-prepend" ng-switch-when="email">
              <span class="add-on">
                <i class="icon-envelope"></i>
              </span>
                <input type="email" placeholder="email" ng-model="data.contact_email">
              </div>

              <div class="input-prepend" ng-switch-when="phone">
              <span class="add-on">
                <i class="icon-phone"></i>
              </span>
                <input type="text" placeholder="номер телефона" ng-model="data.contact_phone">
              </div>
          </div>

          <div class="error" ng-show="contactsNotChecked" ng-bind="contactsNotChecked"></div>

          <center ng-show="data.contact_type" title="Оплатить">
            <input type="image" src="/assets/payments/mastercard.png">
            <input type="image" src="/assets/payments/qiwi.png">
            <input type="image" src="/assets/payments/sms.png">
            <input type="image" src="/assets/payments/visa.png">
            <input type="image" src="/assets/payments/webmoney.png">
            <input type="image" src="/assets/payments/yandex-money.png">
          </center>
        </form>

        <div ng-switch-when="paysioRequest"><h5>Загрузка</h5></div>


      </div>

    </div>

  </div>
</div>