/*
*= require bootstrap_include
*= require uniform_default
*= require base
*= require box
*= require message_box
*= require dropdowns
*= require font-awesome
*= require responsive-tables
*= require fullcalendar
*= require gritter
*= require numeric_stats
*= require form_elements
*= require tags
*= require navigation
*= require sidebar
*= require breadcrumbs
*= require triangle_button
*= require tooltips
*= require buttons
*= require action_nav
*= require stats
*= require ibutton
*= require content_progress
*= require charts
*= require select2
*= require select2_overrides
*= require ui_custom
*= require icheck_blue
*= require xcharts
*= require justgage
*= require easy_pie_chart
*= require sparkline_box
*= require chat-box
*= require dataTables
*= require accordion
*= require bootstrap_alerts
*= require pagination
*= require modal
*= require touchTouch
*= require tables
*= require scrollable
*= require news
*= require badges
*= require bootstrap-wizard
*= require error_pages
*= require bootstrap-wysihtml5
*= require validation_engine
*= require bootstrap-editable
*= require bootstrap-editable-fix
*= require responsive979
*= require responsive768
*= require responsive480
*/

/* div class error */
.error { background-color: #b94a48;-webkit-border-radius: 3px;-moz-border-radius: 3px; border-radius: 3px;display: inline-block;padding: 2px 4px;font-size: 11.844px;font-weight: bold;line-height: 14px;color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);white-space: nowrap;vertical-align: baseline; }

/* people */
		.inline-block {
			display: inline-block;
		}

			.fancy {
				line-height: 0.5;
				text-align: center;
			}

				.fancy span {
					display: inline-block;
					position: relative;
				}

				.fancy span:before,
				.fancy span:after {
					content: "";
					position: absolute;
					height: 5px;
					border-bottom: 1px solid #eee;
					border-top: 1px solid #eee;
					top: 0;
					width: 100%;
				}

				.fancy span:before {
					right: 100%;
					margin-right: 5px;
				}

				.fancy span:after {
					left: 100%;
					margin-left: 5px;
				}


		.grid-fluid {
			position: relative;
			width: 100%;
		}

		.grid-fluid .block {
			position: relative;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
			width: 16.6666667%; /* Fallback */
			width: -webkit-calc(100% / 4);
			width: calc(100% / 4);
			margin: 0px 20px 20px 0px;
		}

		.contact-card {
			background: rgb(255, 255, 255);
			padding: 10px;
			border: 1px solid rgb(216, 216, 216);
		}

			.contact-card .expanded {
				display: none;
			}

				.contact-card .expanded.active {
					display: inline-block;
				}

			.contact-card h4 {
				font-weight: normal;
				margin-left: 10px;
				vertical-align: middle;
				cursor: pointer;
			}

			.contact-card .fancy {
				font-size: 1.3em;
				font-weight: normal;
				font-style: italic;
			}

			.contact-card .contacts {
				margin: 20px 0;
			}

				.contact-card .contacts p {
					margin: 0;
					font-size: 1.1em;
				}

				.contact-card .controls {
					margin: 20px 0;
					text-align: center;
				}

                .valign-middle {
                    vertical-align: middle;
                }

                .text-right {
                    text-align: right !important;
                }

                .no-border > * {
                    border: 0 !important;
                }

                .summary {
                    font-size: 1.5em;
                }

                .summary:first-child > td {
                    border-top: 2px solid;
                }

                .invoice-page {
                    width: 768px;
                    margin: 2em auto;
                }

                .invoice-header {
                    margin-bottom: 1em;
                }

                .document {
                    background: rgb( 255, 255, 255 );
                    border: 1px solid rgb(216, 216, 216);
                    padding: 2em;
                    position: relative;

                }

                .document-footer {
                    margin-top: 10%;
                }

                .label {
                    font-weight: normal;
                    background-image: none;
                }

        @media screen and (max-width: 1190px) {
			.grid-fluid .box {
				width: 20%; /* Fallback */
				width: -webkit-calc(100% / 2);
				width: calc(100% / 2);
			}
		}

		@media screen and (max-width: 945px) {
			.grid-fluid .box {
				width: 25%; /* Fallback */
				width: -webkit-calc(100% / 4);
				width: calc(100% / 4);
			}
		}

		@media screen and (max-width: 660px) {
			.grid-fluid .box {
				width: 33.3333333%; /* Fallback */
				width: -webkit-calc(100% / 3);
				width: calc(100% / 3);
			}
		}

		@media screen and (max-width: 660px) {
			.grid-fluid .box {
				width: 33.3333333%; /* Fallback */
				width: -webkit-calc(100% / 3);
				width: calc(100% / 3);
			}
		}

		@media screen and (max-width: 400px) {
			.grid-fluid .box {
				width: 50%; /* Fallback */
				width: -webkit-calc(100% / 2);
				width: calc(100% / 2);
			}
		}

		@media screen and (max-width: 300px) {
			.grid-fluid .box {
				width: 100%;
			}
		}

.sparkline-box .sparkline-row {
	border: none !important;
}

.box-header.blue {
	-webkit-box-shadow: inset 0 1px 2px rgb(129, 191, 219);
	-moz-box-shadow: inset 0 1px 2px #81bfdb;
	box-shadow: inset 0 1px 2px rgb(129, 191, 219);
	background: rgb(77, 165, 204);
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgb(109, 181, 213)),color-stop(100%,rgb(77, 165, 204)));
	background-image: -webkit-linear-gradient(top,rgb(109, 181, 213),rgb(77, 165, 204));
	background-image: -moz-linear-gradient(top,rgb(109, 181, 213),rgb(77, 165, 204));
	background-image: -o-linear-gradient(top,rgb(109, 181, 213),rgb(77, 165, 204));
	background-image: linear-gradient(top,rgb(109, 181, 213),rgb(77, 165, 204));
	color: rgb(255, 255, 255);
	text-shadow: 0 -1px rgb(111, 111, 111);
	border-bottom: 0;
}

.box-shadow.green {
	background: rgb(77, 165, 204);
	color: rgb(255, 255, 255);
	text-shadow: 0 -1px rgb(111, 111, 111);
}
