<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">

  <!-- Main nav -->
  <ul class="nav nav-collapse-primary">
    <li ng-class="activeClass('/dashboard')">
      <span class="glow"></span>
      <a href="/dashboard">
        <i class="icon-double-angle-left icon-2x"></i>
        <span>Инвойсы</span>
      </a>
    </li>

    <li ng-class="activeClass('/dashboard/transfers_in')">
      <span class="glow"></span>
      <a ng-href="/dashboard/transfers_in">
        <i class="icon-double-angle-right icon-2x"></i>
        <span>Переводы</span>
      </a>
    </li>  

    <li ng-class="activeClass('/dashboard/people')">
      <span class="glow"></span>
      <a ng-href="/dashboard/people">
        <i class="icon-user icon-2x"></i>
        <span>Контакты</span>
      </a>
    </li>

    <li ng-class="activeClass('/dashboard/bill_templates')">
      <span class="glow"></span>
      <a ng-href="/dashboard/bill_templates">
        <i class="icon-tasks icon-2x"></i>
        <span>Прайс-лист</span>
      </a>
    </li>
</ul>
</div>
