<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">

  <!-- Main nav -->
  <ul class="nav nav-collapse collapse nav-collapse-primary">


    <li ng-class="activeClass('/dashboard')">
      <span class="glow"></span>
      <a href="/dashboard">
        <i class="icon-dashboard icon-2x"></i>
        <span>Инвойсы</span>
      </a>
    </li>

    <li class="dark-nav" ng-class="activeClass(['/dashboard/transfers_out', '/dashboard/transfers_in'])">
      <span class="glow"></span>
      <a class="accordion-toggle"
         ng-class="{ collapsed: transfersCollapsed }"
         ng-click="transfersCollapsed = !transfersCollapsed"
      >
        <i class="icon-beaker icon-2x"></i>
        <span>
          Переводы
          <i class="icon-caret-down"></i>
        </span>
      </a>
      <ul 
          class="collapse"
          ng-class="{ in: !transfersCollapsed }"
      >

      <li ng-class="">
        <a href="/transfers">
          <i class="icon-hand-up"></i> Новый
        </a>
      </li>

      <li ng-class="activeClass('/dashboard/transfers_out')">
        <a ng-href="/dashboard/transfers_out">
          <i class="icon-hand-up"></i> Исходящие
        </a>
      </li>

      <li ng-class="activeClass('/dashboard/transfers_in')">
        <a ng-href="/dashboard/transfers_in">
          <i class="icon-beaker"></i> Входящие
        </a>
      </li>
    </ul>

  </li>


  <li ng-class="activeClass('/dashboard/people')">
    <span class="glow"></span>
    <a ng-href="/dashboard/people">
      <i class="icon-edit icon-2x"></i>
      <span>Контакты</span>
    </a>
  </li>


    <li ng-class="activeClass('/dashboard/bill_templates')">
      <span class="glow"></span>
      <a ng-href="/dashboard/bill_templates">
        <i class="icon-edit icon-2x"></i>
        <span>Шаблоны</span>
      </a>
    </li>


  <li class="">
    <span class="glow"></span>
    <a href="../charts/charts.html">
      <i class="#"></i>
      <span>Пункты</span>
    </a>
  </li>

</ul>
</div>
